

@using EIDSS.Web.Components.Administration.AdministrativeUnits

@{
    ViewData["Title"] = Localizer.GetString(HeadingResourceKeyConstants.AdministrativeUnitsPageHeading);
}

<div class="card">
    <div class="card-header">
        <h3>@Localizer.GetString(HeadingResourceKeyConstants.AdministrativeUnitsPageHeading)</h3>
    </div>
    <div class="card-body">

        <component type="typeof(SearchAdministrativeUnits)" render-mode="Server" />
    </div>

</div>