@model EIDSS.Web.Areas.Veterinary.ViewModels.Farm.FarmDetailsViewModel
@using EIDSS.Web.Components.Veterinary.Farm
@using EIDSS.Web.Enumerations;

@{
    ViewData["Title"] = Localizer.GetString(HeadingResourceKeyConstants.FarmPageHeading);
}

<div class="card">
    <div class="card-header">
        <h3>@Localizer.GetString(HeadingResourceKeyConstants.FarmPageHeading)</h3>
    </div>
    <div class="card-body">
        <component type="typeof(FarmSections)" render-mode="Server" param-FarmMasterID="Model.FarmMasterID" param-IsReadOnly="Model.IsReadonly" param-Mode="SearchModeEnum.Default"/>
    </div>
</div>


<script src="~/js/Veterinary/farm.js"></script>
<script src="~/js/Human/person.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
