<div class="modal fade" id="verifyAgeModal" tabindex="-1" role="dialog" aria-labelledby="warningModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalHeader">EIDSS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                        <span class="fas fa-info-circle fa-2x modal-icon"></span>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <p id="warningMessage"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Value is Correct</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Return to Person Record</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showVerifyAgeModal(message, title = "@Localizer.GetString(HeadingResourceKeyConstants.EIDSSModalHeading)", size = "medium") {
        const modal = new Promise(function (resolve, reject) {
            $("#verifyAgeModal").find(".modal-header > h5").text(title).end();
            $("#verifyAgeModal").find("#warningMessage").text(message.replace(/&quot;/g, '\"')).end(); // replace HTML &quot to show actual double quotes.
            $("#verifyAgeModal").modal("show");

            $("#verifyAgeModal .btn-primary").click(function () {
                $("#verifyAgeModal").modal("hide");
                resolve(true);
            });
            $("#verifyAgeModal .btn-secondary").click(function () {
                resolve(false);
            });
        }).then(response => {
            return response;
        });

        return modal;
    };
</script>