
@model EIDSS.Web.ViewModels.Human.DiseaseReportNotificationPageViewModel;
@using EIDSS.Web.TagHelpers.Models.EIDSSModal;
@using Microsoft.AspNetCore.Mvc.Razor.TagHelpers;
@using EIDSS.Web.TagHelpers.Models.EIDSSGrid;

@{

 
    }

<form id="NotificationForm">
    <div class="container-fluid">       
        <div class="form-row">          
            <div class="form-group col-md-12">
                

            </div>
        </div>
       </div>
</form>



