@*
    Simply used to test out style mock ups - will be removed before production
*@


<div class="card">
    <div class="card-header">
        <h3 title="">Mock up Flex Form Viewer</h3>
    </div>
    <div class="card-body">
        <h4>Epidemiological Links</h4>
        <div id="9214940000000" class="form-group border-dark">
            <label>
                Measles-Epidemiological
                Links-Contact with other person with rash and fever within last 7-18 days prior
                to rash onset
            </label>
            <input class="form-check-inline" type="checkbox" id="9253550000000" value="25640000000" parameter="">
        </div>
        <div class="form-group">
            <label>
                Measles-Epidemiological Links-If Yes,
                Name
            </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="9253750000000" value="" parameter="">
            </div>
        </div>
        <div class="form-group">
            <label>
                Measles-Epidemiological Links-Rash or
                fever cases registered in the area of the case
            </label>
            <input class="form-check-inline" type="checkbox" id="9253910000000" value="25640000000" parameter="">
        </div>
        <h4>Vaccination status</h4>
        <div id="9216850000000" class="form-group border-dark">
            <label class="">
                Measles-Vaccination status-Number of Measles vaccine
                doses received
            </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="9254590000000" value="" parameter="">
            </div>
        </div>
    </div>
</div>


