@using EIDSS.Web.Components.Veterinary.ActiveSurveillanceCampaign
@using EIDSS.Web.Areas.Shared.ViewModels
@using EIDSS.ClientLibrary.Enumerations
@{
    ViewData["Title"] = Localizer.GetString(HeadingResourceKeyConstants.VeterinaryActiveSurveillanceCampaignPageHeading);
}

<partial name="_ErrorModalNoTitlePartial" />

<div class="card" id="divActiveSurveillanceCampaignView">
    <div class="card-header">
        <h3>@Localizer.GetString(HeadingResourceKeyConstants.VeterinaryActiveSurveillanceCampaignPageHeading)</h3>
    </div>
    <div class="card-body">
        <component param-CampaignCategoryId="@Convert.ToInt64(EIDSSConstants.CampaignCategory.Veterinary)" param-CampaignID="Model.CampaignID" param-IsReadOnly="Model.IsReadonly" render-mode="Server" type="typeof(ActiveSurveillanceCampaign)"/>
    </div>
</div>

<script src="~/js/shared/activeSurveillanceCampaign.js"></script>

@section Scripts {
    <script type="text/javascript">  
        function insufficientPermissions() {
            showErrorModalNoTitle('@Localizer.GetString(MessageResourceKeyConstants.WarningMessagesYourPermissionsAreInsufficientToPerformThisFunctionMessage)').then(response => {
                if (response) {
                    $("#errorModal").modal("hide");
                    $(".modal-backdrop").remove();
                    window.location.replace('@Url.Action("Index", "Dashboard", new {Area = "Administration"})');
                }
            });
        };
    </script>

    <partial name="_ValidationScriptsPartial"/>
}