@inherits FlexFormMatrixSummaryBase

<div class="card-header">
    <h6>@title</h6>
</div>
<div class="card-body">
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                @if (sections != null)
                {
                    @foreach (var section in sections) //Build columns headers
                    {
                        foreach (var _section in sections) //Matrix columns
                        {
                            foreach (var matrixColumn in Request.MatrixColumns)
                            {
                                <th>@matrixColumn </th>
                            }

                            foreach (var item in flexForm) //Parameter Columns
                            {
                                //TODO: skip sections and labels until proper implementation
                                if (item.idfsSection == item.idfsParameter || item.idfsEditor is null)
                                    continue;

                                if (item.idfsSection == _section.idfsSection)
                                {
                                    <th>@item.ParameterName</th>
                                }
                            }
                        }
                    }
                }
            </tr>

            @foreach (var matrixDataRow in Request.MatrixData)
            {
                <tr>
                    @if (sections != null)
                    {
                        @foreach (var section in sections)
                        {
                            foreach (var data in matrixDataRow.MatrixData)
                            {
                                <td>@data</td>
                            }

                            foreach (var item in flexForm)
                            {
                                //TODO: skip sections and labels until proper implementation
                                if (item.idfsSection == item.idfsParameter || item.idfsEditor is null)
                                    continue;

                                if (section.idfsSection == item.idfsSection)
                                {
                                    var iTotalValue = 0;

                                    @if (answers != null)
                                    {
                                        var itemRows = answers.Where(x => x.idfsParameter == item.idfsParameter && x.idfRow == matrixDataRow.idfRow).ToList();
                                        foreach (var itemRow in itemRows)
                                        {
                                            if (int.TryParse(itemRow.varValue, out var iValue))
                                            {
                                                iTotalValue += iValue;
                                            }
                                        }
                                    }

                                    var strValue = iTotalValue.ToString();
                                    strValue = strValue == "0" ? string.Empty : strValue;

                                    <td>
                                        <RadzenTextBox Value="@strValue" class="form-control rounded-0" Disabled="true" />
                                    </td>
                                }
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>