@inherits EIDSS.Web.Components.CrossCutting.GridExtensionBase

<div class="row">
<div class="col-md-12"> 
   <span class="float-left"> <a type="button"  title="Save grid configuration" class="fas fa-save fa-lg"  @onclick="@(() => OnColumnSave.InvokeAsync())" ></a></span>
  </div>
  </div>

 