@model EIDSS.Web.Areas.Administration.SubAreas.Security.ViewModels.UserGroup.InformationSectionViewModel

<form id="userGroupInfoForm">
    <input type="hidden" asp-for="UserGroupDetails.idfEmployeeGroup" />
    <input type="hidden" id="recordSelectionIndicator" />
    @*<input type="hidden" asp-for="OrganizationDetails.AddressID" />
        <input type="hidden" asp-for="OrganizationDetails.AbbreviatedNameReferenceID" />
        <input type="hidden" asp-for="OrganizationDetails.FullNameReferenceID" />
        <input type="hidden" asp-for="OrganizationDetails.AccessoryCodeIDsString" />
        <input type="hidden" asp-for="OrganizationDetails.AccessoryCodeNamesString" />*@
    <div class="container-fluid">
        <div class="form-row">
            <div class="col-md-11">
                <h4 heading-for="@HeadingResourceKeyConstants.UserGroupDetailsInformationHeading"></h4>
            </div>
            <div class="col-md-1 text-right">
                <a id="editUserGroupInfoSectionButton" href="#userGroupWizard-h-0" class="edit-section"><span class="far fa-edit fa-lg"></span></a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <i class="fas fa-asterisk text-danger"></i>
                <label asp-for="UserGroupDetails.strDefault" field-label-for="@FieldLabelResourceKeyConstants.UserGroupDetailsDefaultNameFieldLabel"></label>
                <input asp-for="UserGroupDetails.strDefault" class="form-control" />
                <span asp-validation-for="UserGroupDetails.strDefault" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                @*<i class="fas fa-asterisk text-danger"></i>*@
                <label asp-for="UserGroupDetails.strName" field-label-for="@FieldLabelResourceKeyConstants.UserGroupDetailsNationalNameFieldLabel"></label>
                <input asp-for="UserGroupDetails.strName" class="form-control" />
                @*<span asp-validation-for="UserGroupDetails.strName" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @*<i class="fas fa-asterisk text-danger"></i>*@
                <label asp-for="UserGroupDetails.strDescription" field-label-for="@FieldLabelResourceKeyConstants.UserGroupDetailsDescriptionFieldLabel"></label>
                <input asp-for="UserGroupDetails.strDescription" class="form-control" />
                @*<span asp-validation-for="UserGroupDetails.strDescription" class="text-danger"></span>*@
            </div>
        </div>
    </div>
</form>